body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fdfcf9;
    color: #333;
}

.invitation {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

header,
section,
footer {
    margin-bottom: 40px;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 6px 0;
}