:root {
    --title-font-family: "Yeseva One", Helvetica;
    --title-font-weight: 400;
    --title-font-size: 128px;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
    --title-font-style: normal;
    --subtitle-font-family: "Yeseva One", Helvetica;
    --subtitle-font-weight: 400;
    --subtitle-font-size: 40px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: normal;
    --subtitle-font-style: normal;
    --caption-font-family: "Yeseva One", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 36px;
    --caption-letter-spacing: 0px;
    --caption-line-height: normal;
    --caption-font-style: normal;
    --text-font-family: "Yeseva One", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 36px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
    --text-2-font-family: "Yeseva One", Helvetica;
    --text-2-font-weight: 400;
    --text-2-font-size: 36px;
    --text-2-letter-spacing: 7.2px;
    --text-2-line-height: normal;
    --text-2-font-style: normal;
    --caps-font-family: "Yeseva One", Helvetica;
    --caps-font-weight: 400;
    --caps-font-size: 64px;
    --caps-letter-spacing: 0px;
    --caps-line-height: normal;
    --caps-font-style: normal;
    --underlined-font-family: "Yeseva One", Helvetica;
    --underlined-font-weight: 400;
    --underlined-font-size: 36px;
    --underlined-letter-spacing: 0px;
    --underlined-line-height: normal;
    --underlined-font-style: normal;
    --caps-mini-font-family: "Yeseva One", Helvetica;
    --caps-mini-font-weight: 400;
    --caps-mini-font-size: 32px;
    --caps-mini-letter-spacing: 0px;
    --caps-mini-line-height: normal;
    --caps-mini-font-style: normal;
    ---font-family: "Yeseva One", Helvetica;
    ---font-weight: 400;
    ---font-size: 96px;
    ---letter-spacing: 0px;
    ---line-height: normal;
    ---font-style: normal;
}