body {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    min-width: 1400px;
    font-family: sans-serif;
    color: #6e3f5b;
}

img {
    position: absolute;
}

.text-block {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    color: #6e3f5b;
}